{% load i18n i18n_done %}
<div class="popup" id="atlas-map-files-popup">
  <div class="atlas-map-files roman-frame">
    <h1>{% trans "Atlas map files format" %}</h1>
    <section>
      <h2>{% blocktrans %}Zip content{% endblocktrans %}</h2>
      <text>
        {% blocktrans %}<em>Atlas</em>, the 0 A.D. editor, produces at least two files when creating a map:{% endblocktrans %}
        <ul>
          <li>{% blocktrans %}A map description file (either <em>.xml</em> or <em>.json</em> extension){% endblocktrans %}</li>
          <li>{% blocktrans %}A map textures file (<em>.pmp</em> extension){% endblocktrans %}</li>
        </ul>
        {% blocktrans %}You should collect them in a zip file.{% endblocktrans %}
      </text>
      <div class="bottom-bar">
        <a class="button popup-close" href="javascript:void(0)">{% trans_done "Close" %}</a>
      </div>
    </section>
  </div>
</div>
