{% load i18n i18n_done %}
<div class="popup" id="pyromod-popup">
  <div class="pyromod roman-frame">
    <h1>{% trans "Pyromod format" %}</h1>
    <section>
      <h2>{% blocktrans %}Pyromod file format{% endblocktrans %}</h2>
      <text>
        {% blocktrans %}A <em>.pyromod</em> is a zip file with a <b>mod.json</b> file describing the rest of the zip content.{% endblocktrans %}<br>
        {% blocktrans %}<b>mod.json</b> format:{% endblocktrans %}
        <ul>
          <li>{% blocktrans %}<u>name:</u> unique simple map name (only alphanumeric, underscore and dash characters){% endblocktrans %}</li>
          <li>{% blocktrans %}<u>version:</u> map semantic version (major.minor.patch format){% endblocktrans %}</li>
          <li>{% blocktrans %}<u>label:</u> map full name{% endblocktrans %}</li>
          <li>{% blocktrans %}<u>description:</u> map description{% endblocktrans %}</li>
          <li>{% blocktrans %}<u>dependencies:</u> dependencies on other mods and required 0ad version (list of key: value){% endblocktrans %}</li>
        </ul>
        {% blocktrans %}Other file locations in zip:{% endblocktrans %}
        <ul>
          <li>{% blocktrans %}LICENCE (optional){% endblocktrans %}</li>
          <li>{% blocktrans %}*.md (optional){% endblocktrans %}</li>
          <li>{% blocktrans %}*.txt (optional){% endblocktrans %}</li>
          <li>
            {% blocktrans %}maps/<em>CATEGORY</em>/<em>your_map</em>.<em>EXT</em>{% endblocktrans %}<br>
            {% blocktrans %}<em>CATEGORY</em> could be <b>random</b>, <b>skirmishes</b>, <b>scenarios</b> or <b>tutorials</b>{% endblocktrans %}<br>
            {% blocktrans %}<em>EXT</em> could be (<b>xml</b> + <b>pmp</b>) or <b>json</b>{% endblocktrans %}
          </li>
          <li>{% blocktrans %}maps/CATEGORY/<em>your_map</em>.js (if you defined a custom script for your map){% endblocktrans %}</li>
          <li>{% blocktrans %}art/textures/ui/session/icons/mappreview/<em>your_map</em>.png[.cached.dds] (your map preview, PNG or DDS format, 400x300 in a 512x512 image canvas){% endblocktrans %}</li>
        </ul>
      </text>
      <div class="bottom-bar">
        <a class="button popup-close" href="javascript:void(0)">{% trans_done "Close" %}</a>
      </div>
    </section>
  </div>
</div>
