{% extends "account/base.html" %}{% load i18n_done %}
{% block head_title %}{% trans_done "E-mail Addresses" %}{% endblock %}
{% block content %}
<div class="roman-frames">
  <div class="login roman-frame">
    <h1>{% trans_done "E-mail Addresses" %}</h1>
    <section>
      {% if user.emailaddress_set.all %}
      <p>{% trans_done "The following e-mail addresses are associated with your account:" %}</p>
      <form action="{% url 'account_email' %}" class="email_list" method="post">
        {% csrf_token %}
        {% for emailaddress in user.emailaddress_set.all %}
        <div class="ctrlHolder">
          <label for="email_radio_{{forloop.counter}}" class="{% if emailaddress.primary %}primary_email{%endif%}">
            <input id="email_radio_{{forloop.counter}}" type="radio" name="email" {% if emailaddress.primary or user.emailaddress_set.count == 1 %}checked="checked"{%endif %} value="{{emailaddress.email}}"/>
            {{ emailaddress.email }}
            {% if emailaddress.verified %}
            <span class="verified">{% trans_done "Verified" %}</span>
            {% else %}
            <span class="unverified">{% trans_done "Unverified" %}</span>
            {% endif %}
            {% if emailaddress.primary %}<span class="primary">{% trans_done "Primary" %}</span>{% endif %}
          </label>
        </div>
        {% endfor %}
        <div class="bottom-bar">
          <button class="secondaryAction" type="submit" name="action_primary" >{% trans_done "Make Primary" %}</button>
          <button class="secondaryAction" type="submit" name="action_send" >{% trans_done "Re-send Verification" %}</button>
          <button class="primaryAction" type="submit" name="action_remove" >{% trans_done "Remove" %}</button>
        </div>
      </form>
      {% else %}
      <p><strong>{% trans_done "Warning:" %}</strong> {% trans_done "You currently do not have any e-mail address set up. You should really add an e-mail address so you can receive notifications, reset your password, etc." %}</p>
      {% endif %}
      {% if can_add_email %}
      <h2>{% trans_done "Add E-mail Address" %}</h2>
      <form method="post" action="{% url 'account_email' %}" class="add_email">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="bottom-bar">
          <button name="action_add" type="submit">{% trans_done "Add E-mail" %}</button>
        </div>
      </form>
      {% endif %}
    </section>
  </div>
</div>

<script type="text/javascript">
(function() {
  var message = "{% trans_done "Do you really want to remove the selected e-mail address?" %}";
  var actions = document.getElementsByName('action_remove');
  if (actions.length) {
    actions[0].addEventListener("click", function(e) {
      if (! confirm(message)) {
        e.preventDefault();
      }
    });
  }
})();
</script>
{% endblock %}
