{% extends "account/base.html" %}{% load i18n_done account %}
{% block head_title %}{% trans_done "Confirm E-mail Address" %}{% endblock %}
{% block content %}
<div class="roman-frames">
  <div class="password-change roman-frame">
    <h1>{% trans_done "Confirm E-mail Address" %}</h1>
    <section>
      {% if confirmation %}
      {% user_display confirmation.email_address.user as user_display %}
      <p>{% blocktrans_done with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans_done %}</p>
      <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
        {% csrf_token %}
        <div class="bottom-bar">
          <a class="button secondaryAction" href="{% url 'map-list' %}">{% trans_done "Cancel" %}</a>
          <button class="primaryAction" type="submit">{% trans_done "Confirm" %}</button>
        </div>
      </form>
      {% else %}
      {% url 'account_email' as email_url %}
      <p>{% blocktrans_done %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans_done %}</p>
      <div class="bottom-bar">
        <a class="button" href="{% url 'map-list' %}">{% trans_done "Close" %}</a>
      </div>
      {% endif %}
    </section>
  </div>
</div>
{% endblock %}
