{% extends "account/base.html" %}{% load i18n i18n_done account socialaccount %}
{% block head_title %}{% trans_done "Sign In" %}{% endblock %}
{% block content %}
<div class="login-head">
  <p>{% blocktrans with site.name as site_name %}<a href="{{ signup_url }}">Sign up</a> for a {{ site_name }} account and sign in below{% endblocktrans %}</p>
  <p>{% trans "Or" %}</p>
  <p>{% blocktrans %}Sign in with one of your existing third party accounts{% endblocktrans %}</p>
</div>
<div class="login-frames roman-frames">
  <div class="login roman-frame">
    <h1>{% trans_done "Sign In" %}</h1>
    <section>
      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {% if redirect_field_value %}<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />{% endif %}
        {{ form.as_p }}
        <p><a href="{% url 'account_reset_password' %}">{% trans_done "Forgot Password?" %}</a></p>
        <div class="bottom-bar">
          <a class="button secondaryAction" href="{% url 'map-list' %}">{% trans_done "Cancel" %}</a>
          <button class="primaryAction" type="submit">{% trans_done "Sign In" %}</button>
        </div>
      </form>
    </section>
  </div>
  <div class="login roman-frame socialaccount_ballot">
    <h1>{% trans "Continue with" %}</h1>
    <section>
      <div class="provider-list">
        {% get_providers as socialaccount_providers %}
        {% for provider in socialaccount_providers %}
          <a title="{{provider.name}}" class="button large socialaccount_provider {{provider.id}}"
             href="{% provider_login_url provider.id process="login" scope=scope auth_params=auth_params %}">{{provider.name}}</a>
        {% empty %}
          <p>{% blocktrans_done %}If you have not created an account yet, then please <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans_done %}</p>
        {% endfor %}
      </div>
    </section>
  </div>
</div>
{% endblock %}

