{% extends "account/base.html" %}{% load i18n_done %}
{% block head_title %}{% trans_done "Sign Out" %}{% endblock %}
{% block content %}
<div class="signout roman-frame">
  <h1>{% trans_done "Sign Out" %}</h1>
  <section>
    <p>{% trans_done 'Are you sure you want to sign out?' %}</p>
    <form class="signout" method="post" action="{% url 'account_logout' %}">
      {% csrf_token %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
      {% endif %}
      <button type="submit">{% trans_done 'Sign Out' %}</button>
    </form>
  </section>
</div>
{% endblock %}
