{% extends "account/base.html" %}{% load i18n_done %}
{% block head_title %}{% trans_done "Change Password" %}{% endblock %}
{% block content %}
<div class="roman-frames">
  <div class="password-change roman-frame">
    <h1>{% trans_done "Change Password" %}</h1>
    <section>
      <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="bottom-bar">
          <a class="button secondaryAction" href="{% url 'map-list' %}">{% trans_done "Cancel" %}</a>
          <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans_done "Forgot Password?" %}</a>
          <button class="primaryAction" type="submit" name="action">{% trans_done "Change Password" %}</button>
        </div>
      </form>
    </section>
  </div>
</div>
{% endblock %}
