{% extends "account/base.html" %}{% load i18n_done %}
{% block head_title %}{% trans_done "Change Password" %}{% endblock %}
{% block content %}
<div class="roman-frames">
  <div class="password-reset-from-key-done roman-frame">  
    <h1>{% if token_fail %}{% trans_done "Bad Token" %}{% else %}{% trans_done "Change Password" %}{% endif %}</h1>
    <section>
      {% if token_fail %}
      {% url 'account_reset_password' as passwd_reset_url %}
      <p>{% blocktrans_done %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans_done %}</p>
      <div class="bottom-bar">
        <a class="button" href="{% url 'map-list' %}">{% trans_done "Close" %}</a>
      </div>
      {% else %}
      {% if form %}
      <form method="POST" action="{{ action_url }}">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="bottom-bar">
          <a class="button secondaryAction" href="{% url 'map-list' %}">{% trans_done "Cancel" %}</a>
          <button class="primaryAction" type="submit" name="action">{% trans_done "Change password" %}</button>
        </div>
      </form>
      {% else %}
      <p>{% trans_done 'Your password is now changed.' %}</p>
      <div class="bottom-bar">
        <a class="button" href="{% url 'map-list' %}">{% trans_done "Close" %}</a>
      </div>
      {% endif %}
      {% endif %}
    </section>
  </div>
</div>
{% endblock %}
