{% extends "account/base.html" %}{% load i18n_done account %}
{% block head_title %}{% trans_done "Password Reset" %}{% endblock %}
{% block content %}
<div class="roman-frames">
  <div class="password-reset roman-frame">
    <h1>{% trans_done "Password Reset" %}</h1>
    <section>
      {% if user.is_authenticated %}
      {% include "account/snippets/already_logged_in.html" %}
      {% endif %}
      <p>{% trans_done "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
      <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="bottom-bar">
          <a class="button secondaryAction" href="{% url 'account_login' %}">{% trans_done "Cancel" %}</a>
          <button class="primaryAction" type="submit">{% trans_done 'Reset My Password' %}</button>
        </div>
      </form>
      <p>{% blocktrans_done %}Please contact us if you have any trouble resetting your password.{% endblocktrans_done %}</p>
    </section>
  </div>
</div>
{% endblock %}
