{% extends "account/base.html" %}{% load i18n_done %}
{% block head_title %}{% trans_done "Change Password" %}{% endblock %}
{% block content %}
<div class="roman-frames">
  <div class="password-reset-from-key-done roman-frame">  
    <h1>{% trans_done "Change Password" %}</h1>
    <section>
      <p>{% trans_done 'Your password is now changed.' %}</p>
      <div class="bottom-bar">
        <a class="button" href="{% url 'map-list' %}">{% trans_done "Close" %}</a>
      </div>
    </section>
  </div>
</div>
{% endblock %}
