{% extends "account/base.html" %}{% load i18n_done account %}
{% block head_title %}{% trans_done "Password Reset" %}{% endblock %}
{% block content %}
<div class="roman-frames">
  <div class="password-reset-done roman-frame">  
    <h1>{% trans_done "Password Reset" %}</h1>
    <section>
      {% if user.is_authenticated %}
      {% include "account/snippets/already_logged_in.html" %}
      {% endif %}
      <text>{% blocktrans_done %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans_done %}</text>
      <div class="bottom-bar">
        <a class="button" href="{% url 'map-list' %}">{% trans_done "Close" %}</a>
      </div>
    </section>
  </div>
</div>
{% endblock %}
