{% extends "account/base.html" %}{% load i18n_done %}
{% block head_title %}{% trans_done "Signup" %}{% endblock %}
{% block content %}
<div class="signup roman-frame">
  <h1>{% trans_done "Sign Up" %}</h1>
  <section>
    <p>{% blocktrans_done %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans_done %}</p>
    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
      {{ form.as_p }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <div class="bottom-bar">
        <button type="submit">{% trans_done "Sign Up" %} &raquo;</button>
      </div>
    </form>
  </section>
</div>
{% endblock %}
