{% extends "account/base.html" %}{% load i18n_done %}
{% block head_title %}{% trans_done "Verify Your E-mail Address" %}{% endblock %}
{% block content %}
<div class="roman-frames">
  <div class="verified-email-required roman-frame">
    <h1>{% trans_done "Verify Your E-mail Address" %}</h1>
    <section>
      {% url 'account_email' as email_url %}
      <p>{% blocktrans_done %}This part of the site requires us to verify that
      you are who you claim to be. For this purpose, we require that you
      verify ownership of your e-mail address. {% endblocktrans_done %}</p>
      <p>{% blocktrans_done %}We have sent an e-mail to you for
      verification. Please click on the link inside this e-mail. Please
      contact us if you do not receive it within a few minutes.{% endblocktrans_done %}</p>
      <p>{% blocktrans_done %}<strong>Note:</strong> you can still <a href="{{ email_url }}">change your e-mail address</a>.{% endblocktrans_done %}</p>
      <div class="bottom-bar">
        <a class="button" href="{% url 'map-list' %}">{% trans_done "Close" %}</a>
      </div>
    </section>
  </div>
</div>
{% endblock %}
