{% extends "account/base.html" %}{% load i18n_done %}
{% block head_title %}{% trans_done "Verify Your E-mail Address" %}{% endblock %}
{% block content %}
<div class="roman-frames">
  <div class="verification-sent roman-frame">
    <h1>{% trans_done "Verify Your E-mail Address" %}</h1>
    <section>
      <p>{% blocktrans_done %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.{% endblocktrans_done %}</p>
      <div class="bottom-bar">
        <a class="button" href="{% url 'map-list' %}">{% trans_done "Close" %}</a>
      </div>
    </section>
  </div>
</div>
{% endblock %}
