html {
  background: url(../img/branding.png) repeat center;
  color: white;
}

body {
  background: transparent !important;
  font-family: serif;
  display: grid;
  grid-template-areas:
    "header content"
    "header footer";
  grid-template-columns: calc(var(--header-width) + var(--header-left-offset)) auto;
  grid-template-rows: auto min-content;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
@media (max-width: 900px) {
  body {
    grid-template-areas:
      "header"
      "content"
      "footer";
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
}

h1,
h2,
h3,
h4 {
  font-family: sans-serif;
}
h1 {
  font-size: 1.5em;
}

a,
a:visited {
  color: #EEE8AA;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

text {
  display: block;
  font-family: serif;
  margin: 0.5em 0;
}

.hidden {
  display: none;
}
