a.button,
button {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  white-space: nowrap;
  margin: 0;
  padding: 0 4px 2px 4px;
  line-height: var(--var-button-line-height);
  text-align: center;
  color: white;
  border: none;
  background: none;
  font-size: 0.8em;
  font-weight: 800;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  cursor: pointer;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}
/* transition on background-image does not work well (and not in FF)
 * so use this trick with before and after pseudo class */
a.button::before,
button::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/button_stone_unselected.png) repeat-x;
  border: 1px;
  border-radius: 5px;
  opacity: 1;
  transform: translateZ(-2px);
}
a.button::after,
button::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/button_stone_selected.png) repeat-x;
  border: 1px;
  border-radius: 5px;
  opacity: 0;
  transform: translateZ(-1px);
}
a.button:hover::after,
button:hover::after {
  opacity: 1;
  transition-duration: 0.2s;
}
a.button:hover {
  text-decoration: none;
}

a.button > i,
button > i {
  margin-right: 1em;
}

a.button.large,
button.large,
#navbar a.button,
#navbar button {
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
}
a.button.large::before,
button.large::before,
#navbar a.button::before,
#navbar button::before {
  border: none;
  border-radius: 0;
}
a.button.large::after,
button.large::after,
#navbar a.button::after,
#navbar button::after {
  border: none;
  border-radius: 0;
  background:
    url("../img/button_stone_selected_left_trim.png") left no-repeat,
    url("../img/button_stone_selected_right_trim.png") right no-repeat,
    url("../img/button_stone_selected.png") top center repeat-x;
}
@media (max-width: 900px) {
  #navbar a.button,
  #navbar button {
    width: auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  #navbar a.button::before,
  #navbar button::before {
    border: 1px;
    border-radius: 5px;
  }
  #navbar a.button::after,
  #navbar button::after {
    border: 1px;
    border-radius: 5px;
    background: url(../img/button_stone_selected.png) repeat-x;
  }
}

a.button.primaryAction,
button.primaryAction {
  color: lightgoldenrodyellow;
}
a.button.secondaryAction,
button.secondaryAction {
  color: lightgray;
}
