#content {
  grid-area: content;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: calc(100vh - var(--footer-height));
  justify-content: center;
  align-items: center;
}
#content > p {
  text-align: center;
}

@media (max-width: 900px) {
  #content {
    min-height: auto;
  }
  #content > p {
    text-align: auto;
  }
}
