div.map-detail {
  --map-background-dark-div: rgba(0, 0, 0, 0.3);
}
div.map-detail > section {
  display: grid;
  grid-template-areas:
    "info info map"
    "info info ."
    "detail releases releases";
  grid-template-columns: auto min-content var(--thumbnail-width);
  grid-template-rows: var(--thumbnail-height) min-content min-content;
  grid-gap: 10px 20px;
  justify-content: normal;
  align-items: flex-start;
}
div.release-detail > section {
  grid-template-areas:
    "info info map"
    "info info ."
    "detail detail detail";
}
div.map-detail > section p {
  color: white;
  margin: 1em 0;
}
div.map-detail > section p > span:first-child {
  padding-right: 0.5em;
  color: goldenrod;
}
div.map-detail div.info {
  grid-area: info;
  display: grid;
  grid-template-areas:
    "primary primary primary"
    "secondary keywords download"
    "deps keywords dates";
  grid-template-columns: auto auto min-content;
  grid-template-rows: auto min-content auto;
  border: none;
  background:
    url(../img/gold-separator.png) center top / 100% 2px no-repeat,
    url(../img/gold-separator.png) center bottom / 100% 2px no-repeat,
    var(--map-background-dark-div);
  padding: 0.5em;
  min-height: calc(var(--thumbnail-height) + 2 * 2px - 2 * 0.5em);
}
div.map-detail div.info div.primary {
  grid-area: primary;
}
div.map-detail div.info div.secondary {
  grid-area: secondary;
}
div.map-detail div.info div.download {
  grid-area: download;
  width: max-content;
}
div.map-detail div.info div.download > p:last-child {
  margin-top: 0.5em;
}
div.map-detail div.info div.deps {
  grid-area: deps;
}
div.map-detail div.info div.deps p {
  margin-bottom: 0;
}
div.map-detail div.info div.deps ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0.5em 1em;
}
div.map-detail div.info div.deps li {
  list-style: none;
  display: block;
}
div.map-detail div.info div.dates {
  grid-area: dates;
  width: max-content;
}
div.map-detail div.info div.keywords {
  grid-area: keywords;
  align-self: flex-end;
  display: flex;
  justify-content: flex-end;
}
div.map-detail div.info div.keywords ul {
  display: flex;
  flex-flow: row wrap-reverse;
  justify-content: flex-end;
  padding: 0;
  margin: 0 0.5em;
  max-height: 300px;
  overflow-y: auto;
}
div.map-detail div.info div.keywords li {
  list-style: none;
  display: block;
  margin: 5px;
}
div.map-detail div.info div.keywords button {
  cursor: default;
  background-color: #6A252F;
  border: 1px solid goldenrod;
  border-radius: 5px;
}
div.map-detail div.info div.keywords button::before,
div.map-detail div.info div.keywords button::after {
  content: none;
}
div.map-detail div.map {
  grid-area: map;
  display: grid;
  grid-template-areas: "map";
  align-items: flex-end;
  border: none;
  background:
    url(../img/gold-separator.png) center top / 100% 2px no-repeat,
    url(../img/gold-separator.png) center bottom / 100% 2px no-repeat,
    var(--map-background-dark-div);
  padding: 2px 0;
}
div.map-detail div.map > img {
  grid-area: map;
}
div.map-detail div.map > span {
  grid-area: map;
  font-size: 12px;
  text-align: left;
  padding-left: 1em;
}
div.map-detail div.map > div.download {
  grid-area: map;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  opacity: 0;
  z-index: -1;
}
div.map-detail div.map:hover > div.download {
  opacity: 1;
  z-index: 3;
  transition: all 0.3s ease-in-out;
}
div.map-detail div.map > div.download > a.button {
  width: 150px;
  right: 1em;
  bottom: 1em;
}
div.map-detail div.detail {
  grid-area: detail;
  border: none;
  background:
    url(../img/gold-separator.png) center top / 100% 2px no-repeat,
    url(../img/gold-separator.png) center bottom / 100% 2px no-repeat,
    var(--map-background-dark-div);
  padding: 0.5em;
  height: 100%;
}
div.map-detail div.detail p.descr {
  display: flex;
  flex-direction: column;
}
div.map-detail div.detail p.descr > span:nth-child(2) {
  margin: 0.5em 1em;
}
div.map-detail div.releases {
  grid-area: releases;
  border: none;
  background:
    url(../img/gold-separator.png) center top / 100% 2px no-repeat,
    url(../img/gold-separator.png) center bottom / 100% 2px no-repeat,
    var(--map-background-dark-div);
  padding: 0.5em;
  height: 100%;
}
div.map-detail div.releases ul {
  display: table;
  width: 100%;
  padding: 0;
  margin: 0.5em 0;
}
div.map-detail div.releases li {
  display: table-row;
}
div.map-detail div.releases li > * {
  display: table-cell;
}
div.map-detail div.releases li > a.button:last-child {
  width: 150px;
}

@media (max-width: 1280px) {
  div.map-detail > section {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  div.map-detail div.map {
    order: 1;
  }
  div.map-detail div.info {
    order: 2;
    width: 100%;
  }
  div.map-detail div.detail {
    order: 3;
    width: 100%;
    height: auto;
  }
  div.map-detail div.releases {
    order: 4;
    width: 100%;
    height: auto;
  }
}
