footer {
  grid-area: footer;
  width: 100%;
  height: var(--footer-height);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 4px 0 0 0;
  background:
    url('../img/border.png') top 4px center repeat-x,
    url('../img/background.png') center repeat;
  background-clip:
    content-box,
    content-box;
  font-size: 0.8em;
}
