input:focus,
textarea:focus {
  outline: none;
}
input::placeholder,
textarea::placeholder {
  color: lightgray;
}
input:focus::placeholder,
textarea.focus::placeholder {
  color: gray;
}
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="text"],
input[type="url"],
textarea {
  border: none;
  background:
    url(../img/gold-separator.png) center top / contain no-repeat,
    url(../img/gold-separator.png) center bottom / contain no-repeat,
    black;
  color: white;
  line-height: 100%;
  width: 250px;
  padding: 2px 0.5em;
}
@supports (appearance: none) or (-moz-appearance: none) or (-webkit-appearance: none) {
  select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    display: inline-block;
    border: none;
    outline: none;
    min-width: 15ch;
    width: calc(250px + 20px - 0.5em);
    background:
      url(../img/gold-separator.png) center top / contain no-repeat,
      url(../img/gold-separator.png) center bottom / contain no-repeat,
      url(../img/dropdown-arrow.png) right center no-repeat,
      black;
    color: white;
    line-height: 100%;
    padding: 2px 20px 2px 0.5em;
  }
  input[type="checkbox"],
  input[type="radio"] {
    --var-checkbox-size: 28px;

    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    display: inline-block;
    position: relative;
    z-index: 100;
    width: var(--var-checkbox-size);
    height: var(--var-checkbox-size);
    background: none;
    margin-bottom: -8px;
  }
  input[type="checkbox"]::before,
  input[type="radio"]::before {
    content: '';
    cursor: pointer;
    position: absolute;
    z-index: -101;
    opacity: 1;
    width: var(--var-checkbox-size);
    height: var(--var-checkbox-size);
    background: url(../img/tick-off.png) no-repeat center;
  }
  input[type="checkbox"]::after,
  input[type="radio"]::after {
    content: '';
    cursor: pointer;
    position: absolute;
    z-index: -100;
    opacity: 0;
    transition: opacity 0.5s ease;
    width: var(--var-checkbox-size);
    height: var(--var-checkbox-size);
    background: url(../img/tick-on.png) no-repeat center;
  }
  input[type="checkbox"]:checked::after,
  input[type="radio"]:checked::after {
    opacity: 1;
  }
  input[type="file"] {
    display: inline-block;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    text-align: right;
    outline: none;
    background:
      url(../img/gold-separator.png) center top / 100% 1px no-repeat,
      url(../img/gold-separator.png) center bottom / 100% 1px no-repeat,
      black;
    color: white;
    line-height: 100%;
    padding: 2px 20px 2px 0.5em;
  }
  input[type="file"]::file-selector-button {
    display: inline-block;
    white-space: nowrap;
    height: 29px;
    margin: 0;
    padding: 0 1em;
    text-align: center;
    color: white;
    border: none;
    font-size: 0.8em;
    font-weight: 800;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    cursor: pointer;
    z-index: 100;
    background: url(../img/button_stone_unselected.png) repeat-x;
  }
  input[type="file"]::file-selector-button:hover {
    background-image: url(../img/button_stone_selected.png);
  }
  textarea {
    display: inline-block;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    text-align: left;
    outline: none;
  }
}

form td {
  position: relative;
}
input + br,
select + br,
textarea + br {
  display: none;
}
input + br + span.helptext,
select + br + span.helptext,
textarea + br + span.helptext {
  display: none;
  position: absolute;
  z-index: 10;
  width: 16em;
  min-height: 20px;
  font-size: 0.8em;
  background: var(--red-background);
  border: 1px solid goldenrod;
}
input + br + span.helptext::before,
select + br + span.helptext::before,
textarea + br + span.helptext::before {
  --arrow-size: 5px;

  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  left: calc(-1 * var(--arrow-size));
  top: var(--arrow-size);
  border-right: var(--arrow-size) solid goldenrod;
  border-top: var(--arrow-size) solid transparent;
  border-bottom: var(--arrow-size) solid transparent;
}
input:hover + br + span.helptext,
select:hover + br + span.helptext,
textarea:hover + br + span.helptext,
input:focus + br + span.helptext,
select:focus + br + span.helptext,
textarea:focus + br + span.helptext {
  display: block;
}
input:hover + br + span.helptext,
select:hover + br + span.helptext,
input:focus + br + span.helptext,
select:focus + br + span.helptext {
  top: 3px;
  left: 270px;
}
input[type="file"]:hover + br + span.helptext {
  display: inline-block;
  top: 3px;
  left: 270px;
}
input[type="file"]:focus + br + span.helptext {
  display: none;
}
textarea:hover + br + span.helptext,
textarea:focus + br + span.helptext {
  top: 30%;
  left: 270px;
}

a.jsoneditor-poweredBy {
  display: none;
}
.ace-jsoneditor,
textarea.jsoneditor-text {
  min-height: 10px !important;
}
.jsoneditor button,
.jsoneditor input {
  font-weight: inherit;
  text-shadow: none;
}
.jsoneditor button::before,
.jsoneditor button::after,
.jsoneditor input::before,
.jsoneditor input::after {
  content: none;
}
.jsoneditor-tree {
  background-color: black !important;
}
