header {
  grid-area: header;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: var(--header-width);
  min-height: 100vh;
  position: fixed;
  margin-left: var(--header-left-offset);
  background:
    url(../img/tile_dark.png) center repeat,
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.4) 20%,
      rgba(0, 0, 0, 0.2) 80%
    );
  background-blend-mode: overlay;
  border-image: url(../img/yellow-borders.png) 2 / 0 auto;
}

#branding {
  display: flex;
  height: var(--branding-height);
  justify-content: flex-start;
  align-items: center;
  margin: 1em 0;
}
#branding:hover {
  text-decoration: none;
}
#logo-circle {
  background-image: url(../img/logo-circle.png);
  background-size: var(--logo-circle-width);
  width: var(--logo-circle-width);
  height: var(--logo-circle-width);
}
#title-admaprepo {
  display: flex;
  flex-direction: column;
  width: var(--logo-admaprepo-width);
  height: var(--branding-height);
  justify-content: center;
  align-items: center;
  position: relative;
}
#logo-name {
  background-image: url(../img/logo-ad.png);
  background-size: var(--logo-ad-width) var(--logo-ad-height);
  width: var(--logo-ad-width);
  height: var(--logo-ad-height);
}
#title-maprepo {
  margin: 0;
  padding: 0;
  font-family: serif;
  font-size: 12px;
  white-space: nowrap;
  position: absolute;
  width: calc(var(--logo-admaprepo-width) + var(--logo-maprepo-offset));
  bottom: 18px;
  left: calc(-1 * var(--logo-maprepo-offset));
  text-align: center;
  user-select: none;
  background-image: var(--golden-gradient);
  background-clip: text;
  color: transparent;
}
#title-unofficial {
  margin-top: 0.6em;
  font-family: serif;
  font-style: italic;
  font-size: 12px;
  position: absolute;
  width: 100px;
  bottom: 2px;
  margin-left: calc(-2 * var(--logo-maprepo-offset));
  text-align: center;
  user-select: none;
  background-image: var(--golden-gradient);
  background-clip: text;
  color: rgba(0, 0, 0, 0.6);
}

@media (max-width: 900px) {
  header {
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    position: static;
    min-height: min-content;
    margin: 0 1em;
    background: none;
    border: none;
  }
  #title-unofficial {
    color: transparent;
  }
}

@media (max-width: 500px) {
  header {
    flex-flow: column;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
  }
  #branding {
    display: block;
    width: min-content;
    height: min-content;
  }
  #logo-circle {
    display: none;
  }
  #title-admaprepo {
    width: min-content;
    height: min-content;
  }
  #logo-name {
    display: block;
    background: none;
    width: auto;
    height: auto;
  }
  #logo-name::after {
    content: "0 A.D.";
    font-family: serif;
    font-variant: all-small-caps;
    background-image: var(--golden-gradient);
    background-clip: text;
    color: transparent;
  }
  #title-maprepo {
    position: static;
    width: min-content;
  }
  #title-unofficial {
    position: static;
    width: min-content;
  }
}
