#map-tiles {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 1em;
  gap: 1em;
}
.map-tile {
  display: grid;
  grid-template-areas: "map";
  align-items: flex-end;
  border: solid 2px transparent;
}
.map-tile:hover {
  text-decoration: none;
  border-image: url(../img/yellow-borders.png) 2 / auto;
  transition: all 0.2s ease-in-out;
}
.map-tile > * {
  grid-area: map;
}
.map-tile > span {
  font-size: 12px;
  text-align: left;
  padding: 1em;
}
.map-tile:hover > span {
  z-index: 10;
}
.map-tile > .map-info {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  opacity: 0;
}
.map-tile:hover > .map-info {
  opacity: 1;
  transition: all 0.2s ease-in-out;
}
.map-tile > .map-info p {
  font-size: 12px;
  color: white;
  margin: 1em 1em 0 1em;
}
.map-tile > .map-info p > span:first-child {
  padding-right: 0.5em;
  color: goldenrod;
}
