div.login-head {
  display: flex;
  flex-direction: column;
  align-items: center;
}
div.login-head > * {
  display: block;
  padding: 0;
  margin: 0.5em 0;
}
@media (max-width: 1280px) {
  div.login-head > * {
    margin: 0.1em 0;
  }
  div.login-head > p:first-child {
    order: 3;
  }
  div.login-head > p:nth-child(2) {
    order: 2;
  }
  div.login-head > p:last-child {
    order: 1;
  }
}
div.login-frames {
  flex-wrap: nowrap;
}
@media (max-width: 1280px) {
  div.login-frames {
    flex-wrap: wrap-reverse;
  }
}
div.login {
  max-width: 30em;
  margin: 1em;
}
div.login form input {
  width: 15em;
}
div.socialaccount_ballot {
  width: 400px;
}
div.socialaccount_ballot .provider-list {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  justify-content: space-around;
  align-content: space-around;
}
div.socialaccount_ballot .provider-list .button {
  width: 45%;
  margin: 4px;
}
