@import url("variables.css");
@import url("base.css");
@import url("buttons.css");
@import url("header.css");
@import url("navbar.css");
@import url("content.css");
@import url("footer.css");
@import url("markdown.css");
@import url("romans.css");
@import url("forms.css");
@import url("login.css");
@import url("signup.css");
@import url("signout.css");
@import url("languages.css");
@import url("thumbnail.css");
@import url("listing.css");
@import url("detail.css");
@import url("popup.css");
/* ERROR LIST */
.map-create-step2 .errorlist,
.release-create-step2 .errorlist {
  display: block;
  list-style-type: none;
  width: 100%;
  padding: 0;
  margin: 1em 0;
  font-size: 0.8em;
  font-weight: bold;
  line-height: 2em;
  text-align: center;
  color: red;
  background: var(--red-background);
  border: 1px solid darkgoldenrod;
}
