div.markdown-wrapper {
  width: 100%;
  height: 100%;
}
div.markdown {
  margin: 1em;
}
div.markdown h1 {
  text-align: center;
  margin: 1em;
  background-image: var(--golden-gradient);
  background-clip: text;
  color: transparent;
  font-size: 2em;
}
div.markdown h2 {
  color: var(--submenu-arrow-color);
}
