#navbar {
  display: flex;
  flex-direction: column;
  width: var(--header-width);
  box-sizing: border-box;
  padding: 0 calc(2 * var(--header-border-size));
  margin: 0;
  font-family: sans-serif;
}
#navbar div {
  margin: 10px;
}
#navbar li {
  list-style: none;
  display: block;
  height: min-content;
}
#navbar > li {
  margin: 0;
}
#navbar > li.submenu {
  display: block;
  position: relative;
  cursor: pointer;
}
#navbar > li.submenu > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: -10px;
  left: 66%;
  border-image: url(../img/yellow-borders.png) 2;
  border-style: solid;
  padding: 0;
  margin: 0;
  z-index: -1;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
#navbar > li.submenu:hover > ul {
  display: flex;
  left: calc(var(--header-width) - 12px);
  z-index: 1000;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.3s ease;
}
#navbar > li.submenu > ul::before {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  left: calc(-1 * var(--submenu-arrow-size) - var(--header-border-size) / 2);
  top: var(--submenu-arrow-size);
  border-right: var(--submenu-arrow-size) solid var(--submenu-arrow-color);
  border-top: var(--submenu-arrow-size) solid transparent;
  border-bottom: var(--submenu-arrow-size) solid transparent;
}
#navbar > li.submenu > ul > li {
  width: 100%;
}

@media (max-width: 900px) {
  #navbar {
    flex-flow: row-reverse wrap;
    width: 100%;
    padding: 0;
  }
  #navbar li.linebreak {
    page-break-after: always;
  }
  #navbar li.linebreakbefore {
    page-break-before: always;
  }
  #navbar > li.submenu > ul {
    top: 0;
    left: auto;
    right: 0;
  }
  #navbar > li.submenu:hover > ul {
    top: var(--var-button-line-height);
    left: auto;
    right: 0;
  }
  #navbar > li.submenu > ul::before {
    top: calc(-1 * var(--submenu-arrow-size));
    left: auto;
    right: var(--submenu-arrow-size);
    border-top: none;
    border-bottom: var(--submenu-arrow-size) solid var(--submenu-arrow-color);
    border-left: var(--submenu-arrow-size) solid transparent;
    border-right: var(--submenu-arrow-size) solid transparent;
  }
  #navbar > li.submenu > ul > li > a.button,
  #navbar > li.submenu > ul > li > button {
    width: 100%;
  }
}
@media (max-width: 500px) {
  #navbar {
    flex-flow: column;
    align-items: center;
  }
  #navbar > li.submenu {
    position: static;
    display: flex;
    flex-direction: column;
  }
  #navbar > li.submenu > button {
    cursor: default;
  }
  #navbar > li.submenu > button::before,
  #navbar > li.submenu > button::after {
    content: none;
  }
  #navbar > li.submenu > ul {
    position: static;
    display: flex;
    border: none;
    z-index: 1000;
    opacity: 1;
  }
  #navbar > li.submenu > ul::before {
    content: none;
  }
  #navbar > li.submenu > ul > li {
    width: auto;
  }
  #navbar > li.submenu > ul > li > a.button,
  #navbar > li.submenu > ul > li > button {
    width: auto;
  }
}
