popup {
  color: #EEE8AA;
  cursor: pointer;
}
popup:hover {
  text-decoration: underline;
}

div#popup-glass-pane {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: #FFF3;
  z-index: -1;
  opacity: 0;
}
div#popup-glass-pane.show {
  z-index: 1000;
  opacity: 1;
  transition: all 0.3s ease;
}
div.popup {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: transparent;
  z-index: -1;
  opacity: 0;
  transition: all 0.3s ease;
}
div.popup.show {
  z-index: 1001;
  opacity: 1;
  transition: all 0.3s ease;
}
