/*** Frame ***/
div.roman-frames {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
div.roman-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  border: none;
  color: white;
  background:
    url('../img/dialog-deco-top-left.png') top 2px left no-repeat,
    url('../img/dialog-deco-top-right.png') top 2px right no-repeat,
    url('../img/border.png') top 24px center repeat-x,
    url('../img/dialog-deco-bottom-left.png') bottom 12px left no-repeat,
    url('../img/dialog-deco-bottom-right.png') bottom 12px right no-repeat,
    url('../img/border.png') bottom 24px center repeat-x,
    url('../img/background.png') center repeat;
  background-clip:
    border-box,
    border-box,
    content-box,
    border-box,
    border-box,
    content-box,
    content-box;
}
div.roman-frame > h1 {
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  text-align: center;
  margin: calc(-24px / 2) 0 0 0;
  padding: 0 calc(24px + 20px);
  color: white;
  background:
    url("../img/titlebar-left.png") left / 24px no-repeat,
    url("../img/titlebar-right.png") right / 24px no-repeat,
    url("../img/titlebar-middle.png") center / calc(100% - 2 * 24px + 2 * 10px) 24px space;
}
div.roman-frame > section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 1em;
}
div.roman-frame > section > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
div.roman-frame > section > form p {
  display: flex;
  margin: 0 0 1em 0;
}
div.roman-frame > section > form label {
  box-sizing: border-box;
  width: 10em;
  margin: 0.3em 1em 0.3em 0;
}
div.roman-frame > section > form label + * {
  box-sizing: border-box;
  width: 20em;
  margin: 0.3em 0;
}
@media (max-width: 500px) {
  div.roman-frame > section > form label {
    margin: 0;
  }
  div.roman-frame > section > form label + * {
    width: 10em;
    margin: 0;
  }
}

/*** Fullscreen Frame ***/
div.roman-frames.fullscreen {
  width: 100%;
  height: 100%;
}
div.roman-frames.fullscreen div.roman-frame {
  width: 100%;
  padding: 24px 0;
  background:
    url('../img/border.png') top 24px center repeat-x,
    url('../img/border.png') bottom 24px center repeat-x,
    url('../img/background.png') center repeat;
  background-clip:
    content-box,
    content-box,
    content-box;
}
div.roman-frames.fullscreen div.roman-frame > section {
  width: calc(100% - 2 * 24px);
  margin-bottom: 1em;
}
@media (max-width: 900px) {
  div.roman-frames.fullscreen div.roman-frame > section {
    width: 100%;
  }
}

/*** Bottom Bar ***/
div.bottom-bar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 1em;
}
div.bottom-bar .button {
  margin: 0 4px;
}
@media (max-width: 900px) {
  div.bottom-bar {
    flex-direction: column;
    margin-top: 0;
  }
}

/*** Roman Popup ***/
div.popup > div.roman-frame {
  margin: auto;
  width: 50em;
  filter: drop-shadow(20px 20px 6px #111);
  opacity: 0;
  transform: scale(0.1);
  transition: all 0.3s ease;
}
div.popup.show > div.roman-frame {
  opacity: 1;
  transform: scale(1);
  transition: all 0.3s ease;
}
