img.map-thumbnail {
  display: block;
  width: var(--thumbnail-width);
  height: var(--thumbnail-height);
  object-fit: contain;
}
@media (max-width: 900px) {
  img.map-thumbnail {
    max-width: 100%;
    max-height: auto;
  }
}
img.map-big-thumbnail {
  display: block;
  width: 90vw;
  height: 90vh;
  object-fit: contain;
}
