:root {
  --branding-height: 100px;
  --golden-gradient: linear-gradient(20deg, rgb(101, 69, 24) 0%, rgb(193, 156, 55) 80%, rgb(238, 232, 170) 100%);
  --header-border-size: 2px;
  --header-left-offset: 20px;
  --header-width: calc(var(--logo-circle-width) + var(--logo-admaprepo-width) + 50px);
  --logo-ad-height: 36px;
  --logo-ad-width: 93px;
  --logo-admaprepo-width: 100px;
  --logo-circle-width: 100px;
  --logo-maprepo-offset: 5px;
  --red-background: #211;
  --submenu-arrow-color: #9C8629;
  --submenu-arrow-size: 10px;
  --thumbnail-height: 300px;
  --thumbnail-width: 400px;
  --var-button-line-height: 27px;
  --footer-height: 3em;
}
