<!DOCTYPE html>{% load static %}
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1,requiresActiveX=true">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Map repository for 0 A.D.">
    <meta name="keywords" content="0ad, 0 ad, zero ad, map, repository, open source, creative commons, floss">
    <meta name="robots" content="max-image-preview:large">
    <meta name="generator" content="vim">
    <title>{% block pretitle %}{{ pretitle|default:"0 A.D. Map Repository" }} | {% endblock %}{% block title|default:"Home" %}{{ title }}{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'fontawesomefree/css/all.min.css' %}">
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'css/maprepo.css' %}">
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'css/flash.min.css' %}">
    <script type="text/javascript" src="{% static 'js/popup.js' %}"></script>
    {% block extrahead %}{% endblock %}
  </head>
  <body>
    {% block header %}
    <header>
      {% block branding %}{% include "zeroadmaprepo/branding.html" %}{% endblock %}
      {% block navbar %}{% endblock %}
    </header>
    {% endblock %}
    <div id="content">
      {% block content_title %}{% if content_title %}<h1>{{ content_title }}</h1>{% endif %}{% endblock %}
      {% block messages %}{% include "zeroadmaprepo/messages.html" %}{% endblock %}
      {% block content %}{% endblock %}
    </div>
    {% block footer %}{% endblock %}
    {% block scripts %}
    <script type="text/javascript" src="{% static 'js/flash.min.js' %}"></script>
    {% endblock %}
    {% block extrascripts %}{% endblock %}
  </body>
</html>
