{# vim: set ft=htmldjango: #}
<a href="{% url 'map-list' %}" id="branding">
  <div id="logo-circle"></div>
  <div id="title-admaprepo">
    <div id="logo-name"></div>
    <h1 id="title-maprepo">Map repository</h1>
    <div id="title-unofficial">unofficial</div>
  </div>
</a>
