{% load i18n i18n_done %}
<footer>
  <a href="{% url 'how-to-install' %}"><span>→&nbsp;{% trans "How to install" %}</span></a>
  <a href="{% url 'policy' %}"><span>{% trans "Policy" %}</span></a>
  <a href="{% url 'tos' %}"><span>{% trans "Term of Services" %}</span></a>
</footer>
