{% extends "zeroadmaprepo/base.html" %}{% load i18n %}
{% block content %}
{% if warnings %}
<ul class="warnings">
  {% for warn in warnings %}
  <li>{{ warn }}</li>
  {% endfor %}
</ul>
{% endif %}
<div class="roman-frames">
  <div class="map-create-step2 roman-frame">
    <h1>{% trans "Complete map information" %}</h1>
    <section>
      <h2>{{ title }}</h2>
      <form method="POST" enctype="multipart/form-data">{% csrf_token %}
        {{ form.media }}
        {% if original_thumbnail %}
        <img src="{{ original_thumbnail }}" title="{% trans "original thumbnail" %}">
        {% endif %}
        <table>
          {{ form.as_table }}
        </table>
        <div class="bottom-bar">
          <a class="button" href="{% url 'map-list' %}">{% trans "Cancel" %}</a>
          <button type="button" onclick="location.href='{% url 'map-create-step1' uuid %}'">{% trans "Previous step" %}</button>
          <button type="submit" name="submit">{% trans "Create" %}</button>
        </div>
      </form>
    </section>
  </div>
</div>
{% endblock %}
