{% extends "zeroadmaprepo/base.html" %}{% load i18n %}
{% block content %}
<h2>{% trans "This is the 0 A.D. map repository." %}</h2>
<p>{% trans "You could browse maps, download them and upload new ones." %}</p>
<div>
  <form method="POST">{% csrf_token %}
    <input type="text" name="search" id="search" class="search" placeholder="{% trans "type here to search" %}" value="{{ search }}">
    {% if search %}<button type="submit" name="submit" onclick="document.getElementById('search').value=''; return true;">X</button>{% endif %}
    <button type="submit" name="submit"> 🔍 </button>
  </form>
</div>
<div id="map-tiles">
  {% for map in map_list %}
  <a href="{% url 'map-detail' map.pk map.slug %}" class="map-tile">
    <img src="{{ map.thumbnail.url }}" class="map-thumbnail">
    <span>{{ map }}</span>
    <div class="map-info">
      <p><span>{% trans "Type" %}</span><span>{{ map.get_category_display }}</span></p>
      <p><span>{% trans "Author" %}</span><span>{{ map.author_name }}</span></p>
      {% if map.keywords %}
      <p><span>{% trans "Keywords" %}</span><span>{{ map.keywords|join:", " }}</span></p>
      {% endif %}
    </div>
  </a>
  {% empty %}
  <div>{% trans "No map yet." %}</div>
  {% endfor %}
</div>
{% endblock %}
