{% extends "zeroadmaprepo/base.html" %}{% load i18n %}
{% block content %}
<div class="roman-frames">
  <div class="map-confirm-delete roman-frame">
    <h1>{% blocktrans with map_name=map.name%}Delete map {{ map_name }}{% endblocktrans %}</h1>
    <section>
      <form method="POST">{% csrf_token %}
        <text>{% blocktrans %}Are you sure you want to delete "{{ map }}"?{% endblocktrans %}</text>
        <div class="bottom-bar">
          <a class="button secondaryAction" href="{% url 'map-detail' map.pk map.slug %}">{% trans "Cancel" %}</a>
          <button class="primaryAction" type="submit">{% trans "Confirm" %}</button>
        </div>
      </form>
    </section>
  </div>
</div>
{% endblock %}
