{% extends "zeroadmaprepo/base.html" %}{% load static guardian_tags i18n i18n_done %}
{% block extranavbar %}
{% if user.is_authenticated %}
{% get_obj_perms user for map as "map_perms" %}
{% endif %}
{% if "change_map" in map_perms %}<li><a class="button" href="{% url 'map-edit' map.pk map.slug %}"><i class="fas fa-edit"></i>{% trans "Edit this map" %}</a></li>{% endif %}
{% if "delete_map" in map_perms %}<li><a class="button" href="{% url 'map-delete' map.pk map.slug %}"><i class="fas fa-trash"></i>{% trans "Delete this map" %}</a></li>{% endif %}
<li class="linebreakbefore"><a class="button" href="{% url 'map-list' %}"><i class="fas fa-arrow-circle-left"></i>{% trans "Back to the list" %}</a></li>
{% endblock %}
{% block extrascripts %}
<script type="text/javascript" src="{% static 'js/map-popup.js' %}"></script>
{% endblock %}
{% block content %}
<div class="roman-frames fullscreen">
  <div class="map-detail roman-frame">
    <h1>{{ map.name }}</h1>
    <section>
      <div class="info">
        <div class="primary">
          <p><span>{% trans "Type" %}</span><span>{{ map.get_category_display }}</span></p>
          {% if map.summary %}
          <p><span>{% trans "Summary" %}</span><span>{{ map.summary }}</p>
          {% endif %}
        </div>
        <div class="secondary">
          <p><span>{% trans "Author" %}</span><span>{{ map.author_name }}</span></p>
          <p><span>{% trans "License" %}</span><a href="{{ map.license_type.url }}/" target="_blank">{{ map.license_type.name }}</a></p>
        </div>
        <div class="download">
          <a href="{% url 'release-download' map.pk map.slug map.last_release.version %}" class="button"><i class="fas fa-download"></i>{% trans "Download" %}</a>
          <p><span>{% trans "Size" %}</span><span>{{ map.last_release.data.size|filesizeformat }}</span></p>
        </div>
        <div class="deps">
          <p>
          <span>{% trans "Dependencies:" %}</span>
          </p>
          <ul>
            {% for dep in map.dependencies %}
            <li>{{ dep }}</li>
            {% endfor %}
          </ul>
        </div>
        <div class="dates">
          {% trans "on" context "created on [date]" as trans_on %}
          {% trans "at" context "created at [time]" as trans_at %}
          <p>
          <span>{% trans "Created" %}</span>
          <span title="{{ trans_at }} {{ map.created|time }}">{{ trans_on }} {{ map.created|date }}</span>
          </p>
          <p>
          <span>{% trans "Modified" %}</span>
          <span title="{{ trans_at }} {{ map.modified|time }}">{{ trans_on }} {{ map.modified|date }}</span>
          </p>
        </div>
        <div class="keywords">
          {% if map.keywords %}
          <ul>
            {% for keyword in map.keywords %}
            <li><button title="{% blocktrans %}{{ keyword }} keyword{% endblocktrans %}">{{ keyword }}</button></li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
      </div>
      <div class="map">
        <img src="{{ map.thumbnail.url }}" alt="map thumbnail" class="map-thumbnail">
        <span>{{ map.name }}</span>
        <div class="download" id="map-download">
          <a href="{% url 'release-download' map.pk map.slug map.last_release.version %}" class="button"><i class="fas fa-download"></i>{% trans "Download" %}</a>
        </div>
        <div class="popup" id="map-popup">
          <img src="{{ map.thumbnail.url }}" alt="map thumbnail" class="map-big-thumbnail popup-close">
        </div>
      </div>
      <div class="detail">
        {% if map.description %}
        <p class="descr"><span>{% trans "Description" %}</span><span>{{ map.description }}</span></p>
        {% else %}
        <p>{% trans "No description." %}</p>
        {% endif %}
        {% if map.url %}
        <p><span>{% trans "Url" %}</span><a href="{{ map.url }}">{{ map.url }}</a></p>
        {% endif %}
      </div>
      <div class="releases">
        <p>
        <span>{% trans "Releases" %}</span>
        </p>
        <ul>
          {% trans "on" context "created on [date]" as trans_on %}
          {% trans "at" context "created at [time]" as trans_at %}
          {% for release in map.releases.all %}
          <li>
            <a href="{% url 'release-detail' map.pk map.slug release.version %}">{{ release.version }}</a>
            <span title="{{ trans_at }} {{ release.created|time }}">{{ trans_on }} {{ release.created|date }}</span>
            <span>{{ release.data.size|filesizeformat }}</span>
            <a href="{% url 'release-download' map.pk map.slug release.version %}" class="button"><i class="fas fa-download"></i>{% trans "Download" %}</a>
          </li>
          {% empty %}
          <li>{% trans "No release yet." %}</li>
          {% endfor %}
        </ul>
        {% if user.is_authenticated %}
        {% get_obj_perms user for map as "map_perms" %}
        {% endif %}
        {% if "add_release" in map_perms %}
        <a href="{% url 'release-create' map.pk map.slug %}" class="button"><i class="fas fa-plus"></i>{% trans "Add a release" %}</a>
        {% endif %}
      </div>
    </section>
  </div>
</div>
{% endblock %}
