{% extends "zeroadmaprepo/base.html" %}{% load i18n %}
{% block content %}
<div class="roman-frames">
  <div class="map-edit roman-frame">
    <h1>{% blocktrans with map_name=map.name %}Edit map {{ map_name }}{% endblocktrans %}</h1>
    <section>
      <form method="POST" enctype="multipart/form-data">{% csrf_token %}
        {{ form.media }}
        <table>
          {{ form.as_table }}
        </table>
        <div class="bottom-bar">
          <a class="button secondaryAction" href="{% url 'map-detail' map.pk map.slug %}">{% trans "Cancel" %}</a>
          <button class="primaryAction" type="submit">{% trans "Apply" %}</button>
        </div>
      </form>
    </section>
  </div>
</div>
{% endblock %}
