{% extends "zeroadmaprepo/base.html" %}{% load i18n %}
{% block content %}
<div class="roman-frames">
  <div class="map-create-step1 roman-frame">
    <h1>{% trans "Upload a new map" %}</h1>
    <section>
      <form method="POST" enctype="multipart/form-data">{% csrf_token %}
        {{ form.media }}
        <text>{% blocktrans %}Do you have a <popup id="pyromod-link">pyromod</popup> zip file or just a zip of <popup id="atlas-map-files-link">Atlas map files</popup>?{% endblocktrans %}</text>
        <table>
          {{ form.as_table }}
        </table>
        <div class="bottom-bar">
          <a class="button secondaryAction" href="{% url 'map-list' %}">{% trans "Return" %}</a>
          <button class="primaryAction" type="submit" name="submit">{% trans "Upload" %}</button>
        </div>
      </form>
    </section>
  </div>
</div>
{% include "zeroadmaprepo/create_popups.html" %}
{% endblock %}
