{% extends "zeroadmaprepo/base0.html" %}{% load markdownify %}
{% block navbar %}
<ul id="navbar">
  {% include "zeroadmaprepo/navbar.html" %}
</ul>
{% endblock %}
{% block content %}
<div class="markdown-wrapper">
  <div class="markdown">{{ mdtext|markdownify }}</div>
</div>
{% endblock %}
{% block footer %}{% include "zeroadmaprepo/footer.html" %}{% endblock %}
