{% load i18n i18n_done %}
{% if user.is_authenticated %}
<li class="submenu" title="{% blocktrans with user.name_ext as user_ext %}Logged in as {{ user_ext }}{% endblocktrans %}">
  <button><i class="fas fa-user"></i><span>{{ user }}</span></button>
  <ul>
    <li><a class="button" href="{% url 'account_email' %}"><i class="fas fa-envelope"></i><span>{% trans "Change your email" %}</span></a></li>
    {% if not user.is_social_account %}
    <li><a class="button" href="{% url 'account_change_password' %}"><i class="fas fa-key"></i><span>{% trans "Change your password" %}</span></a></li>
    {% endif %}
    <li><a class="button" href="{% url 'account_logout' %}"><i class="fas fa-sign-out-alt"></i><span>{% trans_done "Sign Out" %}</span></a></li>
  </ul>
</li>
{% else %}
<li><a class="button" href="{% url 'account_login' %}"><i class="fas fa-sign-in-alt"></i><span>{% trans_done "Sign In" %}</span></a></li>
{% endif %}
<li class="linebreak"><a class="button" href="{% url 'lang-select' %}"><i class="fas fa-language"></i><span>{% trans "Change language" %}</span></a></li>
{% if user.is_authenticated %}
<li><a class="button" href="{% url 'map-create' %}"><i class="fas fa-plus"></i><span>{% trans "Add a map" %}</span></a></li>
{% endif %}
