{# vim: set ft=htmldjango: #}
<div id="popup-glass-pane"></div>
{% include "zeroadmaprepo/pyromod.html" %}
{% include "zeroadmaprepo/atlas_map_file.html" %}
<script type="text/javascript">
    const popupGlassPane = document.getElementById("popup-glass-pane");
    const pyromodLink = document.getElementById("pyromod-link");
    pyromodLink.href = "javascript:void(0)";
    const pyromodPopup = document.getElementById("pyromod-popup");
    pyromodLink.addEventListener("click", e => {
        popupGlassPane.classList.add("show");
        pyromodPopup.classList.add("show");
    });
    const pyromodClose = document.getElementById("pyromod-close");
    pyromodClose.href = "javascript:void(0)";
    pyromodClose.addEventListener("click", e => {
        popupGlassPane.classList.remove("show");
        pyromodPopup.classList.remove("show");
    });
    const atlasLink = document.getElementById("atlas-map-files-link");
    atlasLink.href = "javascript:void(0)";
    const atlasPopup = document.getElementById("atlas-map-files-popup");
    atlasLink.addEventListener("click", e => {
        popupGlassPane.classList.add("show");
        atlasPopup.classList.add("show");
    });
    const atlasClose = document.getElementById("atlas-map-files-close");
    atlasClose.href = "javascript:void(0)";
    atlasClose.addEventListener("click", e => {
        popupGlassPane.classList.remove("show");
        atlasPopup.classList.remove("show");
    });
</script>
