{% extends "zeroadmaprepo/base.html" %}{% load i18n %}
{% block content %}
<div class="roman-frames">
  <div class="release-create-step2 roman-frame">
    <h1>{% trans "Complete release map information" %}</h1>
    <section>
      {% if warnings %}
      <ul class="warnings">
        {% for warn in warnings %}
        <li>{{ warn }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      <form method="POST" enctype="multipart/form-data">{% csrf_token %}
        {{ form.media }}
        {% if original_thumbnail %}
        <img src="{{ original_thumbnail }}" title="{% trans "original thumbnail" %}">
        {% endif %}
        <table>
          {{ form.as_table }}
        </table>
        <div class="bottom-bar">
          <a class="button secondaryAction" href="{% url 'map-detail' map.pk map.slug %}">{% trans "Cancel" %}</a>
          <button type="button" class="secondaryAction" onclick="location.href='{% url 'release-create-step1' map.pk map.slug uuid %}'">{% trans "Previous step" %}</button>
          <button type="submit" class="primaryAction" name="submit">{% trans "Create" %}</button>
        </div>
      </form>
    </section>
  </div>
</div>
{% endblock %}
