{% extends "zeroadmaprepo/base.html" %}{% load i18n %}
{% block content %}
<div class="roman-frames">
  <div class="release-confirm-delete roman-frame">
    {% if only_one_left %}
    <h1>{% blocktrans with map_name=release.map.name version=release.version %}Cannot delete {{ map_name }} {{ version }}{% endblocktrans %}</h1>
    <section>
      <p>{% blocktrans with map_nane=release.map.name %}This is the <u>last</u> release for map {{ map_name }}. It <strong>cannot</strong> be deleted.{% endblocktrans %}</p>
      <div class="bottom-bar">
        <a class="button" href="{% url 'release-detail' release.map.pk release.map.slug release.version %}">{% trans "Return" %}</a>
      </div>
    </section>
    {% else %}
    <h1>{% blocktrans with map_name=release.map.name version=release.version %}Delete release {{ map_name }} {{ version }}{% endblocktrans %}</h1>
    <section>
      <form method="POST">{% csrf_token %}
        <text>{% blocktrans %}Are you sure you want to delete "{{ release }}"?{% endblocktrans %}</text>
        <div class="bottom-bar">
          <a class="button secondaryAction" href="{% url 'release-detail' release.map.pk release.map.slug release.version %}">{% trans "Cancel" %}</a>
          <button class="primaryAction" type="submit">{% trans "Confirm" %}</button>
        </div>
      </form>
    </section>
    {% endif %}
  </div>
</div>
{% endblock %}
