{% extends "zeroadmaprepo/base.html" %}{% load i18n %}
{% block content %}
<div class="roman-frames">
  <div class="release-edit roman-frame">
    <h1>{% blocktrans with map_name=release.map.name version=release.version %}Edit release {{ map_name }} {{ version }}{% endblocktrans %}</h1>
    <section>
      <form method="POST" enctype="multipart/form-data">{% csrf_token %}
          {{ form.media }}
          <table>
              {{ form.as_table }}
          </table>
          <div class="bottom-bar">
            <a class="button secondaryAction" href="{% url 'release-detail' release.map.pk release.map.slug release.version %}">{% trans "Cancel" %}</a>
            <button clas="primaryAction" type="submit">{% trans "Apply" %}</button>
            </div>
      </form>
    </section>
  </div>
</div>
{% endblock %}
