{% load i18n %}
<p>{% trans "Releases:" %}<ul>
  {% for release in releases %}
  <li>
    <a href="{% url 'release-detail' map.pk map.slug release.version %}">{{ release.version }}</a>
    <a href="{% url 'release-download' map.pk map.slug release.version %}" class="button">↓ {% trans "Download" %} ↓</a>
  </li>
  {% empty %}
  <li>{% trans "No release yet." %}</li>
  {% endfor %}
  {% if "add_release" in map_perms %}
  <li><a href="{% url 'release-create' map.pk map.slug %}" class="button">{% trans "Add a release" %}</a></li>
  {% endif %}
</ul></p>
