{% extends "zeroadmaprepo/base.html" %}{% load static guardian_tags i18n i18n_done %}
{% block extranavbar %}
{% if user.is_authenticated %}
{% get_obj_perms user for release as "rlz_perms" %}
{% endif %}
{% if "change_release" in rlz_perms %}<li><a class="button" href="{% url 'release-edit' release.map.pk release.map.slug release.version %}"><i class="fas fa-edit"></i>{% trans "Edit this release" %}</a></li>{% endif %}
{% if "delete_release" in rlz_perms %}<li><a class="button" href="{% url 'release-delete' release.map.pk release.map.slug release.version %}"><i class="fas fa-trash"></i>{% trans "Delete this release" %}</a></li>{% endif %}
<li class="linebreakbefore"><a class="button" href="{% url 'map-detail' release.map.pk release.map.slug %}"><i class="fas fa-arrow-circle-left"></i>{% trans "Back to map" %}</a></li>
{% endblock %}
{% block extrascripts %}
<script type="text/javascript" src="{% static 'js/map-popup.js' %}"></script>
{% endblock %}
{% block content %}
<div class="roman-frames fullscreen">
  <div class="map-detail release-detail roman-frame">
    <h1>{{ title }}</h1>
    <section>
      <div class="info">
        <div class="primary">
          <p><span>{% trans "Type" %}</span><span>{{ map.get_category_display }}</span></p>
          {% if release.summary %}
          <p><span>{% trans "Summary" %}</span><span>{{ release.summary }}</p>
          {% endif %}
        </div>
        <div class="secondary">
          <p><span>{% trans "Author" %}</span><span>{{ map.author_name }}</span></p>
          <p><span>{% trans "License" %}</span><a href="{{ map.license_type.url }}/" target="_blank">{{ map.license_type.name }}</a></p>
        </div>
        <div class="download">
          <a href="{% url 'release-download' map.pk map.slug release.version %}" class="button"><i class="fas fa-download"></i>{% trans "Download" %}</a>
          <p><span>{% trans "Size" %}</span><span>{{ release.data.size|filesizeformat }}</span></p>
        </div>
        <div class="deps">
          <p>
          <span>{% trans "Dependencies:" %}</span>
          </p>
          <ul>
            {% for dep in release.dependencies %}
            <li>{{ dep }}</li>
            {% endfor %}
          </ul>
        </div>
        <div class="dates">
          {% trans "on" context "created on [date]" as trans_on %}
          {% trans "at" context "created at [time]" as trans_at %}
          <p>
          <span>{% trans "Created" %}</span>
          <span title="{{ trans_at }} {{ release.created|time }}">{{ trans_on }} {{ release.created|date }}</span>
          </p>
          <p>
          <span>{% trans "Modified" %}</span>
          <span title="{{ trans_at }} {{ release.modified|time }}">{{ trans_on }} {{ release.modified|date }}</span>
          </p>
        </div>
        <div class="keywords">
          {% if release.keywords.count %}
          <ul>
            {% for keyword in release.keywords.all %}
            <li><button title="{% blocktrans %}{{ keyword }} keyword{% endblocktrans %}">{{ keyword }}</button></li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
      </div>
      <div class="map">
        <img src="{{ release.thumbnail.url }}" alt="map thumbnail" class="map-thumbnail">
        <span>{{ map.name }}</span>
        <div class="download" id="map-download">
          <a href="{% url 'release-download' map.pk map.slug release.version %}" class="button"><i class="fas fa-download"></i>{% trans "Download" %}</a>
        </div>
        <div class="popup" id="map-popup">
          <img src="{{ release.thumbnail.url }}" alt="map thumbnail" class="map-big-thumbnail popup-close">
        </div>
      </div>
      <div class="detail">
        {% if release.description %}
        <p class="descr"><span>{% trans "Description" %}</span><span>{{ release.description }}</span></p>
        {% else %}
        <p>{% trans "No description." %}</p>
        {% endif %}
        {% if release.url %}
        <p><span>{% trans "Url" %}</span><a href="{{ release.url }}">{{ release.url }}</a></p>
        {% endif %}
      </div>
    </section>
  </div>
</div>
{% endblock %}
