{% extends "zeroadmaprepo/base.html" %}{% load i18n_done i18n %}
{% block content %}
<div class="roman-frames">
  <div class="select-lang roman-frame">
    <h1>{% trans "Change language" %}</h1>
    <section>
      <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
        <p>{% blocktrans %}What language do you want to use?{% endblocktrans %}</p>
        <input name="next" type="hidden" value="{{ next_url }}">
        <p>
        <select name="language">
          {% get_current_language as LANGUAGE_CODE %}
          {% get_available_languages as LANGUAGES %}
          {% get_language_info_list for LANGUAGES as languages %}
          {% for language in languages %}
          <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
          {{ language.name_local }} ({{ language.code }})
          </option>
          {% endfor %}
        </select>
        </p>
        <div class="bottom-bar">
          <a class="button secondaryAction" href="{{ next_url }}">{% trans_done "Cancel" %}</a>
          <button class="primaryAction" type="submit">{% trans_done "Apply" %}</button>
        </div>
      </form>
    </section>
  </div>
</div>
{% endblock %}
